---
const { href, title, image, git } = Astro.props;


---


<div class="mb-4 md:p-2">
	<a href={href} class="block md:w-96" target="_blank" rel="noopener">
		<div 
		class="border md:hover:scale-105 transition-all duration-200 ease-linear overflow-hidden">
			<img src={image} class="object-cover object-top aspect-video">
		</div>
	</a>
	
	<div class="p-2 flex justify-between">
		<a href={href} class="block hover:underline text-xl transition-all" target="_blank" rel="noopener">{title}</a>
		<a href={git} class="block hover:text-neutral-900 text-neutral-700 text-xl transition-all" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
	</div>

</div>



